[MASTER]
ignore = venv, __pycache__, wordlist
jobs = 0

[MESSAGES CONTROL]
disable =
    C0114,  # Missing module docstring
    C0116,  # Missing function docstring
    R0903,  # Too few public methods
    W0613,  # Unused argument
    R0913,  # Too many arguments
    R0914   # Too many local variables

[FORMAT]
max-line-length = 120
